// -- color --
$main-bg: #f3f3f3;
$primary-weight: #1b262c;
$primary: #0f4c75;
$primary-light: #3282b8;
$primary-mini: #bbe1fa;
$light: #fff;
$dark: #000;
$waring: #d11f18;
$tip: #faad14;
$coffee-color: #7d5e2a;
$disabled: #c0c4cc;
$disabled-icon: #ebeef5;
$loading-shadow:#eaeaea;
$white-shadow: #eee;
$box-shadow: #00000029;

// hotel color
$txt-light: #9196B2;
$tag-bg: #E5E5E5;

// form
$form-input-bg: #EBF0F3;

// Header
$header-bg: linear-gradient(to left, #3282b8 0%, #0f4c75 100%);
// Nav
$nav-active-color: #726464;
// border
$border-line: #dcdfe6;
//icon
$icon-bg: linear-gradient(to top, #3282b8 0%, #0f4c75 100%);