// -- color --
$main-bg: #f3f3f3;
$primary: #f96337;
$primary-light: #ffac34;
$light: #fff;
$disabled: #c0c4cc;
$loading-shadow:#eaeaea;
$white-shadow: #eee;

// Header
$header-bg: linear-gradient(to left, #ffac34 0%, #ff6639 100%);
$header-shadow: #00000029;
// Nav
$nav-bg: #fbfbfb;
$nav-color: #2e0a00;
$nav-active-color: #726464;
// border
$border-line: #dcdfe6;