@import '@/assets/scss/share.scss';

.nav__wrap {
  @include position(fixed, n, 0, 0, 0);

  width: 100%;
  min-width: to-rem(320px);
  max-width: $padPro;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: $nav;
  background-color: $nav-bg;
  border-top: 1px solid $border-line;
}

.nav__link {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: $nav-color;
}

.router-link-active {
  color: $primary;
}

.icon {
  margin-bottom: to-rem(5px);
  font-size: $font-large;
}

.txt {
  font-size: $font-small;
  font-weight: 400;

  &.active {
    color: $primary;
  }
}