@import '@/assets/scss/share.scss';

.news__wrap {
  display: flex;
  flex-direction: column;
  padding: to-rem(16px);
  width: 100%;
}
// slide list
.slide__list {
  display: flex;
  width: 100%;
  height: to-rem(240px);
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    display: block;
  }

  .slide__txt {
    @include position(absolute, n, n, to-rem(32px), to-rem(32px));
    color: $light;
    font-size: $font-big;
  }
}

// tag list
.category__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: to-rem(8px);
}

.list__tag {
  @include breakpoint($mobile, true) {
    width: calc(100% / 4);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
}

.tag__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: to-rem(90px);
  font-size: $font-mini;
  background: $primary-light;
  color: $light;
  border-radius: to-rem(20px);
  padding: to-rem(5px);
  margin-bottom: to-rem(12px);
  cursor: pointer;
}

.isActive {
  background: $primary-weight;
}

.tag__icon {
  margin-right: to-rem(3px);
}

// news list
.news__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: to-rem(8px);
}

.news__card {
  @include breakpoint($iphone5, true) {
    height: to-rem(100px);
    font-size: $font-small;
  }

  @include breakpoint($mobile, true) {
    height: to-rem(190px);
    font-size: $font-normal;
  }

  display: flex;
  height: to-rem(68px);
  font-size: $font-mini;
  border: 1px solid $border-line;
  box-shadow: 0 to-rem(3px) to-rem(6px) $box-shadow;
  margin-bottom: to-rem(8px);
}

.card__img {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 35%;
  min-width: 35%;

  img {
    display: block;
  }
}

.img__icon {
  width: 100%;
  height: 100%;
  color: $primary-light;
}

.card__txt {
  display: flex;
  align-items: center;
  padding: to-rem(8px);
  width: 55%;
}

.card__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-light;
  background: $light;
  width: 10%;
  border-left: 1px solid $border-line;
}