@import '@/assets/scss/share.scss';

.header__wrap {
  @include position(fixed, 0, 0, n, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: to-rem(320px);
  max-width: $padPro;
  height: $header;
  margin: auto;
  background: $header-bg;
  box-shadow: 0px to-rem(3px) to-rem(6px) $header-shadow;
}

.header__title {
  font-size: $font-big;
  color: $light;
}