@import '@/assets/scss/share.scss';

.header__wrap {
  @include position(fixed, 0, 0, n, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: to-rem(320px);
  max-width: $padPro;
  height: $header;
  margin: auto;
  z-index: index($z-index, base);
  background: $header-bg;
  box-shadow: 0px to-rem(3px) to-rem(6px) $primary-weight;
}

.back__icon {
  @include position(absolute, n, n, n, to-rem(16px));
  cursor: pointer;
}

.back__icon,
.header__title {
  font-size: $font-big;
  color: $light;
}