@import '@/assets/scss/share.scss';

.header__wrap {
  @include position(fixed, 0, 0, n, 0);

  width: 100%;
  min-width: to-rem(320px);
  max-width: $padPro;
  height: $header;
  margin: auto;
  background-color: $header-bg;
  box-shadow: 0px to-rem(3px) to-rem(6px) $header-shadow;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}